*{  margin: 0;
    font-family: "Lato", sans-serif;
    h1{color: rgb(39, 39, 39);
        font-family: Lato;
        font-size: 80px;
        font-weight: 800;
        line-height: 96px;
        letter-spacing: 0%;
        text-align: left;}
    p{
        color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    }
     
}
